/*General*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  position: relative;
  padding-bottom: 55px;
}

/*Nav general container*/
.nav-cont {
  width: 100%;
  height: 50px;
  background-color: lightskyblue;

  border: 1.5px dashed red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
}

/* NAV CONTAINER 1 */
.sub-nav-cont-1 {
  min-width: 40%;
  height: 100%;
  border: 1.5px dashed green;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gen-list-cont {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.gen-list-cont li > a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin: 0px 20px 0px 20px;
}

/* NAV CONTAINER 2 */
.sub-nav-cont-2 {
  min-width: 30%;
  height: 100%;
  border: 1.5px dashed green;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-button {
  background-color: #0061ff;
  padding: 5px 8px;
  color: white;
}

/*MAIN SECTION*/
.main-cont {
  width: 100%;
  min-height: 200px;

  background-color: #b4d0e7;
  border: 1.5px dashed rgb(0, 0, 0);
}

h1 {
  margin: 0;
}
/*TITLE CONTAINER */
.main-cont .title-cont {
  width: 800px;
  min-height: 50px;

  border: 1.5px dashed orange;

  margin: 40px auto 20px auto;
  text-align: left;
  font-size: 30px;
}

/*front cont* sizes*/
.front-cont {
  width: 800px;
  min-height: 50px;

  border: 1.5px dashed orange;

  margin: 40px auto 20px auto;
  padding: 10px 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

/*front P container SIZES*/
.front-p-cont {
  width: 33%;
  min-height: 50px;

  border: 1.5px dashed rgb(255, 0, 0);
  /* display: flex; */
}

/*front P container STYLE*/

/*front IMG container sizes*/
.front-img-cont {
  width: 63%;
  min-height: 50px;

  border: 1.5px dashed rgb(255, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 5px;
}

.front-img-cont > img {
  width: 100%;
  display: block;
}
/**********************************/
